    .footer {
    background: url("../images/bg-footer.jpg") no-repeat center;
    padding-top: 35px;
    background-size: cover;
    margin-top: 20px;
}

.nav-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    padding: 25px 0;
    @media(min-width: $bp-medium) {
width: 700px;
      }
  
}

.article-footer {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding: 35px 0;

    .article {
        display: flex;
        flex-direction: column;
        flex-basis: 33.33%;
        text-align: center;

        .title-footer {
            padding: 15px 0;
        }
    }

    a {
        padding: 15px 0;
        margin: 0 auto;

    }

    .title-footer{
        color: $orange;
    }
}