
.detail-day .btn-orange{
margin-left: calc(50% - 80px);

}

.main-pays h4{
    margin-bottom: 40px;
    font-size: 40px;
}

.detail-day .prix-date{
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 20px auto ;
}

.detail-day .pays-desc{
    margin-top: 30px;
}



