.container-fluid {
    max-width: 990px;

}

header.guatemala {
    max-height: 700px;
}

.sejour .title-section {
    min-height: 80px;
    h2 {
        margin-top: 40px;
    }
    h6 {
        margin-top: -10px;
    }

    @media(min-width: $bp-medium) {
        min-height: 200px;
        h2 {
            margin-top: 100px;
        }
        h6 {
            margin-top: -100px;
        }
    }
}

.presentation-sejour{
    min-height: 300px;
       background-color: $bleu;
    margin: 20px auto;
       .title-section{
           margin-top: 60px;
           padding:0 auto;
       }
       h2{
           margin: 10px auto 10px auto;
           padding: 40px 0;
       }
       p{
           display: flex;
           width: 70%;
           text-align: center;
           justify-content: center;
           margin: 0 auto;


       }
   }

.card-block {
    .btn-orange {
        display: inline-block;
        margin: 0 auto;
    }

    a {
        align-items: center;
        padding: 10px;
    }
    .btn-orange {
        display: inline-block;
    
        margin-bottom: 20px;
        margin-left: calc(50% - 70px);
    
    }
}

.card-deck h4{
    min-height: 100px;
}

.fas{
    color: $orange;
    padding: 0 10px;
}


