// Layout (valeurs à confirmer)
$max-width: 1366px;
$bp-xlarge : 1200px;
$bp-large : 992px;
$bp-medium: 768px;
$marge    : 15px;



// Colors

$orange:#E74315;
$bleu:rgba(185, 202, 219, 0.516);
$dark-gray:#384454;
$light-gray:hsla(0, 0%, 44%, 0.249);
$font-default: 'Open Sans', sans-serif,  'Arial Narrow', 'Arial', sans-serif;
$font-title:'lemon_tuesdayregular';



